.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}


/* Nimiq Style overwrites */

.nq-label {
    font-weight: bold;
    color: rgba(31, 35, 72, 0.5);
}
