*:focus {
    outline: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

button.reset {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit;
    text-align: inherit;
    cursor: pointer;
}

button.reset:disabled {
    cursor: auto;
}

/* Nimiq Style overwrites */

.nq-label {
    font-weight: bold;
    margin-right: -0.107em;
}

.nq-label:not([class*="-bg"]) {
    color: var(--text-40);
}

.tooltip .tooltip-box {
    font-size: var(--body-size);
    line-height: 1.3;
    padding: 1.75rem 2rem;
}

.tooltip .price-breakdown {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 2rem;
    row-gap: 1.5rem;
    white-space: nowrap;
    margin: 1rem 0;
    font-size: var(--body-size);
    line-height: 1.5;
}

.tooltip .explainer {
    font-size: var(--small-size);
    opacity: 0.6;
    margin-top: 0.5em;
}

.tooltip .price-breakdown + .explainer,
.tooltip .explainer + .price-breakdown,
.tooltip .explainer + .explainer {
    margin-top: -1rem;
}

.tooltip .tooltip-box > *:first-child {
    margin-top: 0;
}

.tooltip .tooltip-box > *:last-child {
    margin-bottom: 0;
}

.nq-button.purple:not(:disabled) {
    background: var(--nimiq-purple);
    background-image: var(--nimiq-purple-bg);
}

.nq-button.purple:not(:disabled)::before {
    /*
    theme colors:
    light-blue-bg       from hsl(221, 70%, 50%) to hsl(202, 95%, 41%)
    light-blue-darkened:from hsl(221, 70%, 45%) to hsl(205, 100%, 38%)

    purple-bg:          from hsl(241, 33%, 44%) to hsl(259, 30%, 42%)

    applying the changes between light-blue normal and darkened, deriving purple darkened variation:
    purple-bg-darkened: from hsl(241, 33%, 39%) to hsl(262, 35%, 39%)
    */
    --nimiq-purple-darkened: hsl(262, 35%, 39%);
    --nimiq-purple-bg-darkened: radial-gradient(100% 100% at bottom right, hsl(241, 33%, 39%), var(--nimiq-purple-darkened));
    background-image: var(--nimiq-purple-bg-darkened);
}


/* Font Sizes */

:root {
    --body-size: 2rem;
    --small-size: 1.75rem;

    --label-size: 1.75rem;
    --small-label-size: 1.5rem;
    --tiny-label-size: 1.375rem;

    --large-button-size: 2rem;
    --small-button-size: 1.75rem;
    --link-size: 2rem;

    --h1-size: 3rem;
    --h2-size: 2.5rem;
}

.nq-h1 {
    font-size: var(--h1-size);
}

.nq-h2 {
    font-size: var(--h2-size);
}

.nq-text {
    font-size: var(--body-size);
}

.nq-label {
    font-size: var(--small-size);
}

.nq-button {
    font-size: var(--large-button-size);
}

.nq-button-s {
    font-size: var(--small-button-size);
}

@media (max-width: 1160px) { /* Half mobile breakpoint */
    :root {
        --body-size: 1.875rem;
        --small-size: 1.625rem;

        --label-size: 1.625rem;
        --small-label-size: 1.375rem;
        --tiny-label-size: 1.375rem;

        --large-button-size: 1.875rem;
        --small-button-size: 1.625rem;
        --link-size: 1.875rem;

        --h1-size: 2.75rem;
        --h2-size: 2.25rem;
    }

    .nq-button {
        height: 7rem;
        line-height: unset;
    }
}
