@mixin defaults {
    --bg-base: var(--nimiq-gray); /* Groundfloor */
    --bg-primary: var(--nimiq-white); /* Account column */
    --bg-secondary: var(--nimiq-blue); /* Sidebar */

    --text-100:rgba(31, 35, 72, 1);
    --text-80: rgba(31, 35, 72, 0.8);
    --text-70: rgba(31, 35, 72, 0.7);
    --text-60: rgba(31, 35, 72, 0.6);
    --text-50: rgba(31, 35, 72, 0.5);
    --text-40: rgba(31, 35, 72, 0.4);
    --text-22: rgba(31, 35, 72, 0.22);
    --text-20: rgba(31, 35, 72, 0.2);
    --text-16: rgba(31, 35, 72, 0.16);
    --text-14: rgba(31, 35, 72, 0.14);
    --text-10: rgba(31, 35, 72, 0.1);
    --text-6:  rgba(31, 35, 72, 0.06);

    --bg-card: var(--bg-primary);
    --light-blue-40: rgba(5, 130, 202, 0.4); /* Based on Nimiq Light Blue */
}

/**
 * APPLY MIXINS
 */

:root {
    @include defaults;
}
