$mobileBreakpoint: 700px;
$tabletBreakpoint: 960px;
$halfMobileBreakpoint: 1160px;
$smallDesktopBreakpoint: 1199px;
$mediumDesktopBreakpoint: 1319px;
$largeDesktopBreakpoint: 1409px;
$extraLargeDesktopBreakpoint: 1499px;
$veryLargeDesktopBreakpoint: 1800px;
$ultraLargeDesktopBreakpoint: 2000px;
